<div class="footer fixed-right">
  <button type="button" class="btn btn-pink rounded-circle" data-bs-toggle="modal" data-bs-target="#newNoteModal" title="new Note">
    <fa-icon [icon]="faAdd" size="3x"></fa-icon>
  </button>
</div>

<div class="modal" id="newNoteModal" tabindex="-1" aria-labelledby="noteLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <form (ngSubmit)="onSubmit(noteForm)" #noteForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="mb-3">
            <h5 class="modal-title d-inline-flex mb-0" id="noteLabel">Create new note</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="form-label">Note title</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" placeholder="Note title ...">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Note text</label>
            <textarea class="form-control" id="message" rows="7"  required [(ngModel)]="model.message" name="message" ></textarea>
          </div>
        </div>
        <div class="modal-footer pt-0">
          <button type="submit" class="btn btn-pink" [disabled]="!noteForm.form.valid">Save note</button>
          <button type="button" #closeButton class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
