@import "../../styles"

/* The side navigation menu */
.sidenav
  height: 27vh
  width: 100%
  position: fixed /* Stay in place */
  z-index: 1 /* Stay on top */
  background-image: url("~/src/assets/img/b.jpg")
  background-attachment: fixed
  background-position: center
  top: -5%
  right: 0
  overflow-x: hidden /* Disable horizontal scroll */
  padding-top: 60px /* Place content 60px from the top */
  transition: 0.5s /* 0.5 second transition effect to slide in the sidenav */
  form
    width: 50vw
    position: absolute
    right: 25vw

/* Position and style the close button (top right corner) */
.sidenav .closebtn
  position: absolute
  top: 0
  right: 25px
  font-size: 36px
  margin-left: 50px

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main
  transition: margin-left .5s
  padding: 20px

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px)
  .sidenav
    padding-top: 15px
  .sidenav a
    font-size: 18px

.mt-nav
  margin-top: 22vh !important
